@charset "UTF-8";
#fbloginbtn{
	width:222px;
    height: 49px;
	float:left;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	font-family:'나눔고딕';
	background:#3155af;
	padding-left:10px;
	text-align:left;
	line-height:48px;
	border-radius:4.5px;

}