@charset "UTF-8";
/*푸터부분*/
footer {
    float: left;
    height: 152px;
    background-color: #ffff;
    overflow: hidden;
    margin: 0px auto;
    width: 100%;
    position:relative;
	border-top:solid 1.5px #ebebeb;
}

footer #footerB{
	width:100%;
	height:53px;
	margin:0px auto;
	border-bottom: solid 1.5px #ebebeb;
	padding-top:18px;
	box-sizing:border-box;
}

footer #footerB ul{
	width:480px;
	height:19px;
	margin:0px auto;
}

footer #footerB ul li{
	float:left;
	width:33.3%;
	height:19px;
	font-size:14px;
	text-align:center;
	box-sizing:border-box;
}

footer>#footerB>ul>li:nth-child(2){
	border-left:solid 1px #ebebeb;
	border-right:solid 1px #ebebeb;
}

footer>#footerB>ul>li:last-child{
	text-indent:18px;
}

footer>#footerB>ul>li>a, footer>#footerB>ul>li>a:link, footer>#footerB>ul>li>a:visited{
	color:#2D2D2D; pointer:cusor;
}

footer>div#footerC {
    width: 800px;
    height: 97px;
    margin: 0px auto;
}
footer #footerC p{
    width: 150px;
    margin-top: 30px;
    float: left;
}
footer>#footerC>p>img{
 	width:100%;
}

footer>#footerC>ul{
    float: left;
    width: 600px;
    height: 65px;
    margin-left: 50px;
    margin-top: 20px;
}

footer #footerC ul li {
    float: left;
    color: #474747;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 6px;
}

footer #footerC ul li:nth-of-type(3){
	font-size:12px;
}





