@font-face{font-family:"N_Square_R"; src:url("/resources/fonts/NanumSquareR.eot"), url("/resources/fonts/NanumSquareR.ttf"), url("/resources/fonts/NanumSquareR.woff")}
@font-face{font-family:"N_Square_L"; src:url("/resources/fonts/NanumSquareL.eot"), url("/resources/fonts/NanumSquareL.ttf"), url("/resources/fonts/NanumSquareL.woff")}
@font-face{font-family:"N_Square_B"; src:url("/resources/fonts/NanumSquareB.eot"), url("/resources/fonts/NanumSquareB.ttf"), url("/resources/fonts/NanumSquareB.woff")}
@font-face{font-family:"N_Square_EB"; src:url("/resources/fonts/NanumSquareEB.eot"), url("/resources/fonts/NanumSquareEB.ttf"), url("/resources/fonts/NanumSquareEB.woff")}

h1,h2,h3,h4,h5,h6{
	width:1px; height:1px; font-size:0px; line-height:0px; position:absolute;
}


ul.skipmenu_list li a{
	width:1px; height: 1px; line-height:0px; font-size:0px; position: absolute; left:0px; top:0px;
	
	
}

ul.skipmenu_list li a:focus{
	width:100%; height:25px; font-size:12px; line-height:25px; background:black; color:white;
	text-align:center; text-decoration: none; z-index: 9999999; 
}

/*헤더영역시작*/
div#header_wrap{
	width:100%; height:120px; position:fixed; left:0px; top:0px; z-index:9999; 
}

div#menu_back{
	width:100%; height:220px; background:green; position:absolute; left:0px; top:-100px; z-index:10;
	display: block!important;
}


header{
	width:1200px; height:140px; margin:0px auto; position:relative; left:0px; top:0px; z-index:11; background:#0131ca;
}

h1#logo{
	width:105px; height:60px; position:absolute; left:30px; top:0px; z-index:12;
}
h1#logo>a>img{
	width:100%; height:auto;
}

ul.topmenu_list{
	width:432px; height:48px; position:absolute; right:0px; top:0px; background:pink;
}

ul.topmenu_list li{
	width:62px; float:left; margin-right:4px;  font:normal 0.750em/1.500em "N_Square_R"; 
	margin-top: 16px;
	background:yellow;
}

ul.topmenu_list li:nth-child(4){
	margin-right:0px; 
}

ul.topmenu_list li:last-child{
	margin-right:0px; margin-top:0px;
}

ul.topmenu_list li a:link{
	text-decoration:none; color:white;
}

ul.topmenu_list li a:visited{ 
	color:white; text-decoration:none; 
}


li#search_bar{
	width:234px; height:48px; float:left
	 background:red;
}

ul#mainmenu_list{
	width:100%; height:92px; position:absolute; left:50%; margin-left:-50%; bottom:0px; background:black;
	padding-top:10px;
}

h1#logo{
	width:10%; height:90px; float:left;
}

h1#logo>a>img{
	width:100%;
}

ul#mainmenu_list li.mainmenu{
	width:22.5%; float:left; text-align:center; font:normal 1em "N_Square_R"; 
}
/*폰트색은 에이링크에서 텍스트데코레이션없앤 후 지정할 것*/

ul#mainmenu_list li.mainmenu a:link{
	text-decoration:none; color:white;
}

ul#mainmenu_list li.mainmenu a:visited{ 
	color:white; text-decoration:none; 
}

ul#mainmenu_list li.mainmenu:last-child{ 
	margin-right:0px;
}

ul.submenu_list{
	margin-top:20px; width:100%; height:16px;float:left;
}

ul.submenu_list li{
	margin-bottom:8px;
}

ul.submenu_list li a{
	font-size:0.875em;
}
ul.submenu_list li a:hover{
	font-family:"N_Square_B"; color:#ffd700 !important;
}

ul.submenu_list li p{
	font:normal 0.875em "N_Square_L";
	margin-top:8px;
} 





p#menu_icon{
	display:none; width:28px; height:25px; position:absolute; right:30px; top:50%; margin-top:-12.5px;
}

div#nav_list{
	width:70%; height:800px; background:white; float:right; position:absolute; right:0px; top:0px;
	z-index: 999;
}

ul.main_nav{
	width:100%; height:60px; float:left; 
	cursor:pointer; display:block;
}

ul.main_nav li{
	margin-left:50px;
}

ul.main_nav li>span{
	font:normal 1.5em/2.8em "N_Square_R"; color:#2a2a2a;
}

li.sub_nav{
	width:100%; height:60px; float:left;
	font:normal 1.3em/2.8em "N_Square_R"; 
}
li.sub_nav a{
	margin-left:20px;
}
li.sub_nav a:visited{
	color:#2a2a2a; 
}
li.sub_nav a:link{
	text-decoration:none;
}
div#gray_layer{
	width:100%; height:100%; background:rgba(48,48,48,0.5);
	position:absolute; z-index:99;
}

p#nav_close{
	width:100%; height:60px; float:left;
	padding:10px; box-sizing: border-box;
}

ul#topmenu_768{
	width:62%; height:60px; margin:0px auto; 
}
	
ul#topmenu_768 li{
	float:left; height:100%;  margin-right:2%;
}

ul#topmenu_768 li:last-child{
	margin-right:0px; line-height:50px;
}

ul#topmenu_768 li>span{
	font:normal 0.5em "N_Square_L"; color:white;
	width:20px; height:20px; 
}


div.topmenu_wrap{
	width:100%; height:60px; float:left; margin-bottom:30px;
	cursor:pointer; font:normal 1.5em/2.8em "N_Square_L"; display:block; background:#0060ff;
}

/*헤더영역 끝*/ 



/*비주얼영역 시작*/

div#visual_wrap{
	width:100%; height:980px; float:left; background:#0060ff;
	 position:relative; left:0px; top:0px;
}

section#visual{
	width:1200px; height:100%; margin:0px auto; position:absolute; left:50%; margin-left:-600px; top:0px;

}


/*비주얼영역 끝*/


/*골라주라버튼영역 시작*/
div#btn_wrap{
	width:100%; height:612px; float:left; position:relative; left:0px; top:0px; 
}
section#btn_contents{
	width:1200px; height:100%; margin:0px auto; 
	position:absolute; left:50%; margin-left:-600px; top:50%; margin-top:-306px; 
}
/*골라주라버튼영역 끝*/



/*키워드 영역 시작*/
div#keyword_wrap{
	width:100%; height:74px; float:left; background:#ffd800;
	
}

section#keyword_contents{
	width:1200px; height:100%; margin:0px auto; background:#ffd800; position:relative; left:0px; top:0px;
	 padding-top:30px; box-sizing:border-box;
}
/*마진0px auto의 단점: 위치를 가운데로 해주는게 아니라 사실상 마진으로 밀어준것임으로 안먹을 수 있음 SO 이땐 포지션을 이용해야한다*/
/*키워드 영역 끝*/


/*득템자랑영역 시작*/
div#contents_wrap1{
	width:100%; height:456px; float:left; background:#f1f1f1;
}

section#contents1{
	width:1200px; height:100%; margin:0px auto; position: relative; left:0px; top:0px; background:#f1f1f1;
}
/*득템자랑영역 끝*/


/*커뮤니티영역 시작*/
div#contents_wrap2{
	width:100%; height:709px; float:left;
	position:relative; left:0px; top:0px;
}

section#contents2{
	width:1200px; height:100%; margin:0px auto; position:absolute; left:50%; margin-left:-600px; top:0px;
}
/*커뮤니티영역 끝*/


/*제휴사영역 시작*/
div#slideWrap{
	width:100%; height:362px; float:left; position:relative; left:0px; top:0px;
	display:block;
}
/*제휴사영역 끝*/


/*웹진영역 시작*/
div#contents_wrap4{
	width:100%; height:725px; float:left;
	position:relative; left:0px; top:0px;
}
section#contents4{
	width:1200px; height:100%; position:absolute; left:50%; margin-left:-600px; top:0px;
}
/*웹진영역 끝*/


/*푸터영역 시작*/
div#footer_wrap{
	width:100%; height:353px; float:left; background:#303030; position:relative; left:0px; top:0px;
}

footer{
	width:1200px; height:353px; margin:0px auto; position: absolute; left:50%; margin-left:-600px; top:0px;
}

div#footer_list{
	width:390px; height:209px; margin:0px auto;  margin-top:91px;
}

/*w390*/
ul#text1{
	width:100%; height:16px; margin:0px auto; margin-bottom:50px; 
}

ul#text1 li{
	float:left; font:normal 0.750em "N_square_L"; margin-right:6.4%; color:white;
}
ul#text1 li:last-child{
	margin-right:0px;
}

span#text2{
	width:98.97%; height:79px; font:normal 0.750em "N_square_L"; color:white; text-align:center; display: block;
}
/*w138*/
ul#sns{
	width:35.38%; height:25px; margin:0px auto; margin-top:10%;
}

ul#sns li{
	float:left; margin-right:8.6%;
}

ul#sns li:last-child{
	margin-right:0px;
}

p#top_btn{
	width:46px; height:91px; position:absolute; left:50%; margin-left:-23px; top:-91px;
}
/*푸터영역 끝*/



/*공지사항 페이지*/
div.contents_wrap{
	width:100%; height:800px; position:relative; left:0px; top:120px; background:tomato; float:left;
}

div.contents{
	width:1200px; height:auto; position:absolute; left:50%; margin-left:-600px; top:0px;
	background:violet;
}


/*table*/
.tb_list	{
	width:100%;
}
.tb_list tr th	{
	border:1px solid #e4e4e4;
	color:#333;
	background:#f1f1f1;
	padding:12px;
	border-top:2px solid #555555;
	border-bottom:1px solid #555555;
	font-weight:normal;
}
.tb_list tr td	{
	border:1px solid #e4e4e4;
	color:#666;
	padding:8px 15px;
	text-align:center;
}
.tb_list tr th:first-child,
.tb_list tr td:first-child	{
	border-left:none;
}
.tb_list tr th:last-child,
.tb_list tr td:last-child	{
	border-right:none;
}
.alginL	{text-align:left !important;}
.alginR	{text-align:right !important;}
.alginC	{text-align:center !important;}
.file_down	{
	display:block;
	width:30px;
	height:30px;
	background:url(../images/icon_save.png) no-repeat;
	font-size:0;
	margin: 0 auto;
}

.tb_rp thead tr th	{
	border-top:2px solid #1465a9 !important;
	border-bottom:1px solid #1465a9 !important;
	color:#1465a9 !important;
	background:#f9f9f9 !important;
}
.tb_view	{
	width:100%;
}
.tb_view thead tr th	{
	border:1px solid #e4e4e4;
	color:#333;
	font-size:16px;
	background:#f1f1f1;
	padding:12px;
	border-top:2px solid #555555;
	border-bottom:1px solid #555555;
}
.tb_view tbody tr th	{
	background:#f9f9f9;
	padding:8px 15px;
	border-bottom:1px solid #e4e4e4;
}
.tb_view tbody tr td	{
	border:1px solid #e4e4e4;
	color:#666;
	padding:8px 15px;
	text-align:left;
}
.tb_view tr th:first-child,
.tb_view tr td:first-child	{
	border-left:none;
}
.tb_view tr th:last-child,
.tb_view tr td:last-child	{
	border-right:none;
}
.bdr_top	{border-top:1px solid #e4e4e4;}
.view_wrap	{
	padding:40px 20px;
}
.view_wrap img	{
	max-width:100%;
}

.tb_write	{
	width:100%;
	border-top:2px solid #555555;
}
.tb_write tr th	{
	background:#f9f9f9;
	padding:8px 15px;
	border-bottom:1px solid #e4e4e4;
}
.tb_write tr td	{
	border:1px solid #e4e4e4;
	color:#666;
	padding:8px 15px;
	text-align:left;
}
.tb_write tr th:first-child,
.tb_write tr td:first-child	{
	border-left:none;
}
.tb_write tr th:last-child,
.tb_write tr td:last-child	{
	border-right:none;
}



.pagination {
	position:relative;
	display:block;
	text-align:center;
}/*text-align 으로 정렬방향 결정*/
.pagination ul { 
	display: inline-block;
	text-align:center;
}
.pagination ul > li { 
	display: inline-block;*zoom:1;
}
.pagination ul > li > a,
.pagination ul > li > span {
	float:left;
	padding:4px 0px;
	line-height:30px;
	background:#ffffff; 
	border-left: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	width:40px;
	text-align:center; 
	margin-right:0;}
.pagination ul > li > a:focus, .pagination ul > .active > a,
.pagination ul > .active > span {
	background:#e3e3e3;
	color: #000;
}
.pagination ul > .active > a, .pagination ul > .active > span {
	color:#000;
	cursor: default;
}                    
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #000;
	cursor: default;
	background-color: transparent;
}
.pagination ul > li:last-child	{
	border-right: 1px solid #cfcfcf;
}

.search_box	{
	margin-top:30px;
	background:#f5f5f5;
	padding:20px 40px;
}
.tb_inner	{
	width:100%;
	text-align:left;
}
.tb_inner tr th	{
	background:url(../images/icon_dot.gif) no-repeat left center;
	padding-left:12px;
}
.tb_inner tr td	{
	padding:10px;
}



/*input*/
.input01	{
	border:1px solid #959595;
	color:#666;
	font-size:14px;
	padding:13px 20px;
	vertical-align:middle;
}

.wd-90p {
    width: 90% !important;
}

.pdt-20 {
    padding-top: 20px !important;
}

.alignC {
    text-align: center !important; 
}

.floatL{
   width:100px; float:left;  background:red;
}

.floatR {
  width:150px;  float: right;
}

.wd-60{
	float:right;
}

/*button*/
.btn01	{
	min-width:130px;
	background:#fff;
	border:1px solid #474a4d;
	color:#fff;
	height:44px;
	padding:0 40px;
	border-radius:3px;
	box-shadow:1px 3px 3px #ccc;
}
.btn02	{
	min-width:50px;
	background:#474a4d;
	color:#fff;
	height:44px;
	padding:0 35px;
	border-radius:3px;
	border:none;
}
.btn03	{
	min-width:100px;
	background:#1465a9;
	color:#fff;
	height:50px;
	padding:0 35px;
	border-radius:3px;
	box-shadow:1px 3px 3px #ccc;
	border:none;
}
.bc_search	{/*검색아이콘*/
	background:url('../images/icon_search.png') no-repeat #474a4d 35px center;
	padding-left:55px;
}
.bc_re	{/*초기화아이콘*/
	background:url('../images/icon_refresh.png') no-repeat #fff 35px center;
	padding-left:60px;
	color:#444;
}



/*로그인*/

div#loginLayer {
	width:600px; height:600px; position:absolute; left:50%; margin-left:-300px; top:0px; 
	padding-top:50px;
	background:blue;
}




@media screen and (max-width:1200px){
	section#btn_contents,header,section#visual,section#keyword_contents,section#contents1,
	section#contents2,section#contents4,footer{
		width:100%;
	}
	
	section#btn_contents{
		margin-left:-50%;
	}
	
	section#visual{
		margin-left:-50%;
	}
	

	section#contents2{
		margin-left:-50%;
	}
	
	section#contents4{
		margin-left:-50%;
	}
	
	div#webzine_list{
		width:95%;
	}
	
	li.webzine_img{
		width:100%;
	}
	
	footer{
		margin-left:-50%;
	}
}

@media screen and (max-width:980px){

	section#visual{
		width:100%;
	}

	ul#mainmenu_list{
		margin-left:-33%;
	}

	ul#mainmenu_list li.mainmenu{
		width:19%; font-size:0.875em; margin-right:1%;
	}
	
	p#gola_btn_large img{
		width:95%; height:95%; 
	}
	
	ul#gola_btn_small li{
		top:50px;
	}
	
	
	ul.jarang{
		width:46.5%; height:50%; box-shadow: 2px 2px 3px #ebebeb;
	}

	section#btn_contents{
		margin-top:-250px;
	}

	div#btn_wrap{
		height:500px;
	}

	div#btn_list{
		height:100%;
	}
	
	p#gola_btn_large{
		margin-top:35px;
	}

	ul#gola_btn_small{
	 height:60%; margin-top:35px;
	}

	section#contents2{
		 margin-left:-50%;
	}
	
	section#contents4{
		margin-left:-50%;
	}
	
	ul.webzine{
		width:24.5%; margin-right:0.65%;
	}
	
	li.webzine_text{
		width:90%; font:normal 0.7em "돋움";
	}
	
	ul.webzine li.webzine_title{
		width:95%;
	}
	
	li.webzine_img{
		width:100%;
	}
	
	table.community_tb tr td{
		font:normal 0.8em "돋움";
	}

	li.community{
		height:95%;
	}
	
	div.contents_wrap_l{
		width:60%;
	}
	
	div.contents_wrap_r{
		width:40%;
	}
	
	div.text_wrap{
		margin-left:-60px;
	}
	p#visual_03{
		height:120px;
	}
}


@media screen and (max-width:768px){
	
	ul#mainmenu_list,header ul#topmenu_list{
		display:none;
	}
	
	header{
		width:100%; height:70px; 
	}

	p#menu_icon{
		display:block;
	}
	
	div#contents_wrap4{
		height:1050px; 
	}
	
	ul.webzine{
		width:48%; background:white; float:left; margin-right:4%;
		margin-bottom:4%;
	}
	
	ul.webzine:nth-child(2n){
		margin-right:0px;
	}
	
	li.community{
	/*w365 h345*/
		width:100%; height:230px; margin-bottom:4%; display:block; 
	}
	
	table.community_tb tr:last-child{
		display:none;
	}
	
	table.community_tb tr:nth-child(4){
		display:none;
	}
	
	div#contents_wrap2, section#contents2{
		height:1000px; 
	}
	
	section#btn_contents{
		margin-top:-210px;
	}
	
	div#btn_wrap{
		height:420px;
	}
	
	p#gola_btn_large{
		 margin-top:30px;
	}
	
	p#gola_btn_large img{
		width:100%; height:100%;
	}
	
	ul#gola_btn_small{
		height:56%;margin-right:0px; margin-top:27px;
	}
	
	ul.jarang{
		width:95.5%; height:35%; margin:100px auto;
	}
	
	ul.jarang:first-child{
		margin:0px 2.5% ; margin-top:100px;
	}
	
	ul.jarang:last-child{
		margin:0px 2.5%; margin-top:4%;
	}
	
	div#contents_wrap1{
		height:800px;
	}
	
	p#visual_text{
		font-size:2em;
	}
	
	p#visual_go{
		width:160px; height:40px; font-size:1em;margin-left:-270px; top:50%;
	}
	
	p#visual_02 {
		width:40%; height:17%;
	}	
	
	p#visual_03{
		height:90px;
	}

	
	ul.topmenu_list{
		display:none;
	}

	div.contents_wrap_l{
		width:75%;
	}
	
	div.contents_wrap_r{
		width:25%;
	}
	
	div.text_wrap{
		margin-left:-155px; margin-top:50px;
	}
	
	ul.keyword_list li{
	width:19%;
	}
	
	ul.keyword_list li a{
		font:normal 0.8em "N_square_R";
	}
	
	ul.keyword_list li:nth-child(2n){
		display: none;
	}
	
	p#visual_ani img{
		width:120%; margin-left:-37px;
	}
}	

@media screen and (max-width:480px){
	
	footer{
		width:100%; margin-left:-50%;
	}
	
	div#footer_list{
		width:100%;
	}
	p#gola_btn_large{
		width:70%; top:-100px; left:50%; margin-left:-35%;
	}
	
	ul#gola_btn_small{
		width:95%; height:40%; top:30%; left:10px; margin-top:50px;
		margin-bottom:50px;
	}


	div#btn_wrap{
		height:650px;
	}
	
	ul.webzine{
		width:100%
	}
	
	div#contents_wrap4{
		height:1750px;
	}
	
	div#contents_wrap1{
		height:600px;
	}
	
	ul.jarang{
		height:41%; margin:0px auto;
	}
	
	ul.jarang:first-child{
		margin-top:40px;
	}
	
	ul.jarang:last-child{
		margin:0px 2.5%; margin-top:4%;
	}
	
	div#contents_wrap2{
		height:930px;
	}
	
	p#visual_text{
		margin-left:-300px;
	}
	
	p#visual_go{
		margin-left:-200px;
	}
	 
	p#visual_02 {
		width:62%; height:17%;
	}	
	
	p#visual_03,p#visual_04,p#visual_click{
		display:none;
	}
	
	ul#text1{
		width:90%;
	}
	
	ul#text1 li{
		margin-right:4%; font-size:0.7em;
	}
	
	ul#text1 li:last-child{
		margin-right:0px;
	}
	
	span#text2{
		font-size:0.7em;
	}
	
	ul#sns{
		width:45%;
	}

	div#slideWrap{
		display:none;
	}
	
}

@media screen and (max-width:320px){
	
	
	p#visual_text{
		font-size:1.5em; top:28%;
	}
	
	p#visual_go{
		width:160px; height:40px; font-size:1em; margin-left:-270px; top:58%;
	}
	
	div#btn_wrap{
		height:550px;
	}
	
	p#gola_btn_large{
		top:30px; margin-top:0px;
	}
	ul#gola_btn_small{
		top:45%;
	}
	section#btn_contents{
		margin-top:-260px;
	}
	
	div#contents_wrap1{
		height:410px;
	}
	
	ul.jarang{
		height:40%; margin:0px auto;
	}
	
	ul.jarang p{
		height:45px;
	}
	
	ul.jarang p span{
		font:normal 1em/3em "N_Square_R";
	}
	
	ul#text1{
		width:76%;
	}

	ul#text1 li:nth-child(3){
		margin-right:0px;
	}
	
	ul#text1 li:nth-child(4){
		margin-left:30%; margin-top:10px;
	}
	
	ul#text1 li:last-child{
		 margin-top:10px;
	}
	
	ul#sns{
		width:49%; margin-top:40px;
	}

	ul.keyword_list li:nth-child(2n){
		display: none;
	}
	
	ul.keyword_list li{
		width:25%;
	}

	ul.jarang li p span{
		font:normal 1.250em/3em "N_Square_R"; 
		margin-left:10%;
	}
	
	ul.jarang li:first-child{
		height:55px; top:25%;
	}

	section#contents2{
		background:white;
	}
	
	ul#community_list{
		margin:15% auto;
	}
}
