<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">    

<configuration>

<settings>
<!-- 자동으로 카멜케이스 규칙으로 변환 -->
<setting value="true" name="mapUnderscoreToCamelCase"/>
</settings>

	<typeAliases>
	 	<typeAlias type="com.newdeal.ict.Vo.FreeBoardVo" alias="freeboard"/>
	 	<typeAlias type="com.newdeal.ict.Vo.MemberVo" alias="member"/>
	 	<typeAlias type="com.newdeal.ict.Vo.NoticeVo" alias="notice"/>
	 	<typeAlias type="com.newdeal.ict.Vo.QaBoardVo" alias="qaboard"/>
		<typeAlias type="com.newdeal.ict.Vo.IntroduceVo" alias="intvo"/>
		<typeAlias type="com.newdeal.ict.Vo.CommonFileVo" alias="filevo"/>
		<typeAlias type="com.newdeal.ict.Vo.EduDetailVo" alias="detvo"/>
		<typeAlias type="com.newdeal.ict.Vo.IntDetailJoinVo" alias="intjoinvo"/>
		<typeAlias type="com.newdeal.ict.Util.PageUtil" alias="pagevo"/>
		<typeAlias type="com.newdeal.ict.Vo.CommentVo" alias="commentvo"/>
		<typeAlias type="com.newdeal.ict.Vo.LinkListVo" alias="linkvo"/>
	</typeAliases>
</configuration>

