<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">    
<configuration>
	<typeAliases>
   	    <typeAlias type="com.newdeal.ict.Vo.TestVo" alias="testvo"/>
	 	<typeAlias type="com.newdeal.ict.Vo.MemberVo" alias="member"/>
		<typeAlias type="com.newdeal.ict.Vo.IntroduceVo" alias="intvo"/>
		<typeAlias type="com.newdeal.ict.Vo.CommonFileVo" alias="filevo"/>
	</typeAliases>
</configuration>

