<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<!-- 엣지 전화번화링크 없애는 태그 -->
	<meta name="format-detection" content="telephone=no"/>

	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/header_01.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/Home_01.css">
	<title>국방아키텍처관리체계</title>




<script src="js/jquery-3.2.1.min.js"></script>
<!-- <script src="js/html5shiv.js"></script>
<script src="PIE/PIE_IE678.js"></script> -->



	<script>
		$(function(){
			/*모바일  로그인 창*/
			$("#navbtnM a").click(function(){
				$("header #headerC nav ul").slideToggle();
			});
			

			$("#loginM #close a").click(function(){
				$("#loginbgM").hide();
			});

			$("#loginbtnM a").click(function(){
				$("#loginbgM").show();
			});

				
			
		});
	</script>
</head>
<body>
	<!-- 모바일버전 로그인 화면 -->
	<div id="loginbgM">
		<div id="loginM">
				<p id="close"><a href="#a">X</a></p>
				<h2>통합로그인</h2>
				<form action="">
						<legend>통합로그인</legend>
						<ul class="top">
							<li><label for="id" class="hide">아이디</label><input type="text" id="id"></li>
							<li><label for="pw" class="hide">비밀번호</label><input type="password" id="pw"></li>
							<li id="btn"><a href="#a">로그인</a></li>
						</ul>
						<ul class="btm">
							<li><a href="#a">아이디/비밀번호 찾기</a></li>
							<li><a href="#a">회원가입</a></li>
						</ul>
				</form>
		</div>
	</div>


	<!-- 헤더영역 -->
	<header>
		<div id="headerC">
			<div id="topMenu">
				<h1><a href="Home_01.html"><img src="images/logo.png" alt="국방아키텍처로고">국방아키텍처관리체계</a></h1>
				<!-- 모바일버전 로그인	버튼 -->
				<p id="loginbtnM"><a href="#a">로그인</a></p>
			</div>
			<!-- 모바일버전 전체보기 -->
			<p id="navbtnM"><a href="#a">전체보기</a></p>
			
			<!-- gnb -->
			<nav>
				<ul>
					<li><a href="management_register01.html">아키텍처관리</a></li>
					<li><a href="#a">아키텍처서비스</a></li>
					<li><a href="#a">함목적뷰</a></li>
					<li><a href="community_notice01.html">커뮤니티</a></li>
				</ul>
			</nav>
		</div>
	</header>


<!-- 컨텐츠 영역 -->
	<section>
		<div id="sectionC">
			<div id="sectionL">
				<div id="banner"><a href="#a"></a></div>
				<div id="architentures">
					<dl>
						<dt><img src="images/architentures_icon.png" alt="최근등록아이콘">최근 등록된 아키텍처</dt>
						<dd><a href="#">•  국방부 아키텍처 <img src="images/new_icon02.png" alt="새로등록된글"></a></dd>
						<dd><a href="#">•  육군 아키텍처 <img src="images/new_icon02.png" alt="새로등록된글"></a></dd>
						<dd><a href="#">•  공군 아키텍처 <img src="images/new_icon02.png" alt="새로등록된글"></a></dd>
					</dl>
				</div>
				<div id="register">
					<h2><span>아키텍처</span>등록</h2>
					<a href="#a">바로가기<img src="images/icon_arrow.png" alt="화사표아이콘"></a>
				</div>
			</div>
			<div id="sectionR">
				<ul>
					<li id="login">
						<h2>통합로그인</h2>
						<form action="">
							<legend>통합로그인</legend>
							<ul class="top">
								<li><label for="id" class="hide">아이디</label><input type="text" id="id"></li>
								<li><label for="pw" class="hide">비밀번호</label><input type="password" id="pw"></li>
								<li id="btn"><a href="#a">로그인</a></li>
							</ul>
							<ul class="btm">
								<li><a href="#a">아이디/비밀번호 찾기</a></li>
								<li><a href="Home_Login_Signup.html">회원가입</a></li>
							</ul>
						</form>
					</li>
					
					<li id="notice">
						<dl class="list">
							<dt><a href="#a"><img src="images/notice_icon.png" alt="공지사항아이콘">공지사항</a></dt>
							<dd><a href="#a">•  국방아키텍처가이드(구충, 활용, 현행화)</a></dd>
							<dd><a href="#a">•  메인화면, 상단메뉴가 안보일 경우 조치사항</a></dd>
							<dd><a href="#a">•  업데이트 안내</a></dd>
						</dl>
					</li>
					<li id="data">
						<dl class="list">
							<dt><a href="#a"><img src="images/data_icon.png" alt="자료실아이콘">자료실</a></dt>
							<dd><a href="#a">•  국방아키텍처프레임워크 MND-AF v1.5</a></dd>
							<dd><a href="#a">•  아키텍처 활용가이드</a></dd>
							<dd><a href="#a">•  아키텍처개발자 데이터교환 가이드</a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</section>
	
	
<!-- 푸터영역 -->
	<footer>
		<div id="footerC">
			<h2><img src="images/logo_Footer.png" alt="푸터로고">국방아키텍처관리체계</h2>
			<ul>
				<li>
					<span>(우편번호: 427-800)</span>
					<span>경기도 과천시 별양동 과천우제국 사서함 89호</span>
				</li>
				<li>
					<span>군) 970-6868</span>
					<span>02-503-5535</span>
					<span>mnd-arms@mnd.mil</span>
				</li>
				<li>
					<span>본 홈페이지에 게시된 이메일 주소가 자동 수집되는 것을 거부하며, </span>
					<span>이를 위반 시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</span>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>