<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/header_02.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/Home_Login_Signup.css">
	<!--[if IE 9]>
		<link rel="stylesheet" href="css/ie9_select_arrow_2.css">
    <![endif]--> 
	<title></title>
	<script src="js/jquery-3.2.1.min.js"></script>


	<script>
		
	</script>
</head>
<body>
	<header>
		<div id="headerC">
			<div id="topMenu">
				<h1><a href="Home_01.html"><img src="images/logo.png" alt="국방아키텍처로고">국방아키텍처관리체계</a></h1>
				<ul>
					<li><a href="#">호국이 <img src="images/icon_01.png" alt=""></a></li>
					<li><a href="#"><img src="images/icon_02.png" alt="">관리자 </a> </li>
				</ul>
			</div>
			<nav>
				<ul>
					<li><a href="management_register01.html">아키텍처관리</a></li>
					<li><a href="#a">아키텍처서비스</a></li>
					<li><a href="#a">함목적뷰</a></li>
					<li><a href="community_notice01.html">커뮤니티</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<section>
		<div id="sectionC">
			<h2>사용자 가입</h2>
			<div id="contentBox">
				<table id="joinBox">
					<colgroup>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<tbody>
						<tr>
							<td>계정 ID</td>
							<td><input type="text" placeholder="호국이"> <button>중복확인</button></td>
							<td>사용자명</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>비밀번호</td>
							<td><input type="password" placeholder="******"></td>
							<td>비밀번호 확인</td>
							<td><input type="password"></td>
						</tr>
						<tr>
							<td>군번/순번</td>
							<td><input type="text" placeholder="03-76014135"></td>
							<td>군별 </td>
							<td>
									<!--[if IE 9]> <div class="select9"><![endif]-->
								<select>
									<option value="#">육군</option>
									<option value="#">해군</option>
									<option value="#">공군</option>
								</select>
									<!--[if IE 9]></div><![endif]--> 
							</td>
						</tr>
						<tr>
							<td>소속부대</td>
							<td><input type="text" placeholder="호국이 부대"></td>
							<td>계급</td>
							<td>
									<!--[if IE 9]> <div class="select9"><![endif]-->
								<select>
									<option value="#">대위</option>
									<option value="#">소령</option>
									<option value="#">중령</option>
									<option value="#">대령</option>
								</select>	
									<!--[if IE 9]></div><![endif]--> 
							</td>
						</tr>
						<tr>
							<td>직책/직무</td>
							<td colspan="3">
								<input type="text">
							</td>
						</tr>
						<tr>
							<td>이메일</td>
							<td colspan="3">
								<input type="text">
							</td>
						</tr>
						<tr>
							<td>(군)일반전화</td>
							<td colspan="3">
								<input type="text">
							</td>
						</tr>
						<tr>
							<td>핸드폰</td>
							<td colspan="3">
								<input type="text">
							</td>
						</tr>
						<tr>
							<td>가입사유</td>
							<td colspan="3">
								<textarea></textarea>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="btnC">
					<ul id="btn">
						<li><a href="#a" id="cansel">취소</a></li>
						<li><a href="#a" id="check">확인</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div id="footerC">
			<h2><img src="images/logo_Footer.png" alt="푸터로고">국방아키텍처관리체계</h2>
			<ul>
				<li>
					<span>(우편번호: 427-800)</span>
					<span>경기도 과천시 별양동 과천우제국 사서함 89호</span>
				</li>
				<li>
					<span>군) 970-6868</span>
					<span>02-503-5535</span>
					<span>mnd-arms@mnd.mil</span>
				</li>
				<li>
					<span>본 홈페이지에 게시된 이메일 주소가 자동 수집되는 것을 거부하며, </span>
					<span>이를 위반 시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.</span>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>