<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">    
<configuration>
	<typeAliases>
		<typeAlias alias="testvo" type="com.newdeal.ict.Vo.TestVo"/>
		<typeAlias alias="member" type="com.newdeal.ict.Vo.MemberVo"/>
		<typeAlias alias="intvo" type="com.newdeal.ict.Vo.IntroduceVo"/>
		<typeAlias alias="filevo" type="com.newdeal.ict.Vo.CommonFileVo"/>
		<typeAlias alias="edudetailvo" type="com.newdeal.ict.Vo.EduDetailVo"/>
		<typeAlias alias="intjoinvo" type="com.newdeal.ict.Vo.IntDetailJoinVo"/>
		<typeAlias alias="pagevo" type="com.newdeal.ict.Util.PageUtil"/>
		<typeAlias type="com.newdeal.ict.Vo.FestivalVo" alias="fesvo"/>
		<typeAlias type="com.newdeal.ict.Vo.FesDetailVo" alias="fesDevo"/>
	</typeAliases>
</configuration>

