@charset "UTF-8";


.select9 {
	float:left;
	position:relative;
    width: 200px;
    height:36px;
    overflow: hidden;
  	border:1px solid #e6e6e6;
	background:url(../images/select_arrow.png) no-repeat  95% 50%;
	margin-right:10px;
}
#joinBox tr td select {
    border: 0px;
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none; 
	appearance: none;
	width:220px;
    border: 0px;
}

