@charset "UTF-8";


#popupBg {
	position:fixed;
	z-index:100;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.7);
	display:none;
}

#popup{
	width:680px;
	height:832px;
	background-color:#fff;
	position:absolute;
	left:50%;
	top:32px;
	margin-left:-340px;
}

#popup #popupHeader {
	height:70px;
	border-bottom:1px solid #273143;
}
#popup #popupHeader ul {
	margin-left:16px;
}
#popup #popupHeader ul li {
	float:left;
	margin-top:30px;
	margin-right:4px;
}
#popup #popupHeader ul li a {
	display:inline-block;
	width:140px;
	height:39px;
	line-height:39px;
	border:4px 4px 0 0;
	border:1px solid #cccccc;
	text-align:center;
	font-size:14px;
	font-weight:500;
	color:#808080;
	background-color:#f7f7f7;
	border-bottom:none;

}
#popup #popupHeader ul li a.popupNavAcitive {
	background-color:#fff;
	border:1px solid #273143;
	border-bottom:none;
	height:40px;
	line-height:40px;
}
#popup #popupHeader > a {
	display:inline-block;
	width:16px;
	height:16px;
	float:right;
	margin:27px 27px 0 0;

}

#popup  #popupContent {
	padding:16px 16px 30px;
}
#popup #popupContent #popupTable {
	width:648px;
	height:648px;
	border:1px solid #e6e6e6;
}
#popup #popupContent #popupTable colgroup col:nth-of-type(1){
	width:164px;
}
#popup #popupContent #popupTable colgroup col:nth-of-type(2){
	width:484px;
}
#popup #popupContent #popupTable thead tr td {
	height:50px;
	background-color:#dedede;
	text-align:center;
	font-size:14px;
	font-weight:500;
	color:#262626;
}

#popup #popupContent #popupTable tbody tr td{
	height:50px;
	/*line-height:50px;*/
	box-sizing:border-box;
	box-sizing:border-box;
}
#popup #popupContent #popupTable tbody tr {
	border-top:1px solid #e5e5e5;
	box-sizing:border-box;
}
#popup #popupContent #popupTable tbody tr:nth-of-type(1) {
	border-top:1px solid #c7c7c7;
}
#popup #popupContent #popupTable tbody tr td:nth-of-type(1){
	background-color:#f7f7f7;
	text-indent:20px;
	color:#262626;
	font-size:14px;
	font-weight:500px;
}


#popup #popupContent #popupTable tbody tr td:nth-of-type(2){
	padding: 8px 10px;
	box-sizing:border-box;
}

#popup #popupContent #popupTable tbody tr td:nth-of-type(2) input {
	border:1px solid #e5e5e5;
	border-radius:0;
	height:34px;
	/*line-height:34px;*/
	box-sizing:border-box;
}
#popup #popupContent #popupCloseBg {
	text-align:center;
}
#popup #popupContent #popupCloseBg > .popupClose {
	display:inline-block;
	width:98px;
	height:34px;
	line-height:34px;
	border:1px solid #262626;
	margin-top:30px;
	box-sizing:border-box;
	font-size:14px;
	font-weight:400;
	color:#262626;
}





header {
	height:95px;
	background-color:#273143;

}
#headerC {
	width:1260px;
	margin:0 auto;
}

#headerC h1 {
	float:left;
	margin-right:38px;
}
#headerC h1 a{
	float:left;
	color:#fff;
	font-size:18px;
	font-weight:600;
	/*height:95px;*/
	line-height:95px;

}
#headerC h1 a img {
	margin-right:10px;
}

#headerC ul {
	float:left;
	margin-top:30px;
}
#headerC ul li{
	float:left;
	margin-right:10px;

}
#headerC ul li select {
	background-color:#273143;
	border-radius:0;
	color:#fff;
	height:35px;
}

#headerC ul li:nth-of-type(1) select{
	width:184px;
}
#headerC ul li:nth-of-type(2) select{
	width:184px;
}
#headerC ul li:nth-of-type(3) select{
	width:244px;
}
#headerC ul li:last-child a {
	display:inline-block;
	background-color:#fff;
	height:35px;
	width:80px;
	line-height:35px;
	text-align:center;
	font-size:14px;
	font-weight:400;
}

#headerC ol{
	float:right;
	margin-top:30px;
}
#headerC ol li{
	float:right;
	margin-left:8px;
}
#headerC ol li a {
	display:inline-block;
	height:35px;
	line-height:35px;
	width:120px;
	text-align:center;
	font-weight:400;
	font-size:14px;
} 
#headerC ol li:nth-of-type(1) a {
	background-color:#fff;
} 
#headerC ol li:nth-of-type(2) a {
	background-color:#6694ff;
	color:#fff;
} 

section #sectionC {
	width:1260px;
	margin:30px auto 32px;
	overflow:hidden;
}
section #sectionC #sectionL {
	width:256px;
	float:left;
}





section #sectionC #sectionL #sectionLT {
	width:256px;
	height:380px;
	background-color:#e3e5e8;
	margin-bottom:10px;
}
section #sectionC #sectionL #sectionLT #tab02{
	width:256px;
	height:54px;
	border-bottom:1px solid #4c4c4d;
	padding-top:14px;
	box-sizing:border-box;
	text-align:center;
}
section #sectionC #sectionL #sectionLT #tab02 ul{
	display:inline-block;
}
section #sectionC #sectionL #sectionLT #tab02 ul li {
	float:left;
	margin-right:4px;
}
section #sectionC #sectionL #sectionLT #tab02 ul li:last-child {
	margin-right:0px;
}
section #sectionC #sectionL #sectionLT #tab02 ul li a{
	display:inline-block;
	width:72px;
	height:39px;
	line-height:39px;
	box-sizing:border-box;
	text-align:center;
	background-color:#c8cacc;
	border-radius:4px 4px 0 0;
}
section #sectionC #sectionL #sectionLT #tab02 ul li a.tabActive{
	height:40px;
	line-height:40px;
	border:1px solid #4c4c4d;
	border-bottom:none;
	background-color:#e3e5e8; 
}











section #sectionC #sectionL #sectionLB {
	width:256px;
	height:350px;
	background-color:#e3e5e8; 
}
section #sectionC #sectionL #sectionLB #search {
	padding:15px;
	box-sizing:border-box;
}
section #sectionC #sectionL #sectionLB #search input {
	width:160px;
	height:35px;
	border-radius:0;
	background-color:#e3e5e8;
	border:1px solid #999999;
	box-sizing:border-box;
}
section #sectionC #sectionL #sectionLB #search a {
	background-color:#3158bc;
	float:right;
	display:inline-block;
	width:60px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
}
section #sectionC #sectionL #sectionLB #count {
	font-size:12px;
	padding:0 15px;
	height:30px;
	line-height:30px;
}

section #sectionC #sectionL #sectionLB #count span{
	font-size:12px;
	color:#003cff;
	font-weight:700;
}
section #sectionC #sectionL #sectionLB #list dl{
	margin:0 auto;
	width:226px;
	height:240px;
	overflow-x:hidden;
	

}


/* 스크로 변경 */
 section #sectionC #sectionL #sectionLB #list dl::-webkit-scrollbar {
    width: 14px;
    height: 4px;
    background-color:rgba(255,255,255,1);
	


}
 
section #sectionC #sectionL #sectionLB #list dl::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color:#e6e6e6; 
    border:5px solid rgba(255,255,255,1);
}




 
section #sectionC #sectionL #sectionLB #list dl dt a{
	display:inline-block;
	width:226px;
	height:34px;
	line-height:34px;
	background-color:#fff;
	color:#262626;
	font-size:12.5px;
	font-weight: 500;
	text-align:center;
	margin-bottom:1px
}
section #sectionC #sectionL #sectionLB #list dl dd a{
	display:inline-block;
	width:226px;
	height:34px;
	line-height:34px;
	background-color:#fff;
	color:#262626;
	font-size:12.5px;
	font-weight: 400;
	text-indent:8px;
	margin-top:1px;
}













section #sectionC #sectionR {
	float:right;
	width:994px;
	height:740px;
	border:1px solid #e6e6e6;
	box-sizing:border-box;
}
section #sectionC #sectionR #tab {
	height:54px;
	border-bottom:1px solid #273143;
	box-sizing:border-box;
}

section #sectionC #sectionR #tab ul li {
	float:left;
	margin-top:14px;
	margin-right:6px;

}
section #sectionC #sectionR #tab ul li:nth-of-type(1){
	margin-left:40px;
}
section #sectionC #sectionR #tab ul li a{
	display:inline-block;
	width:140px;
	height:39px;
	background-color:#f7f7f7;
	line-height:39px;
	text-align:center;
	border:1px solid #ccc;
	box-sizing:border-box;
	border-radius:4px 4px 0 0;
	color:#808080;
	font-size:14px;
	font-weight:500;
	border-bottom:none;
}
section #sectionC #sectionR #tab ul li a.navActive {
	background-color:#fff;
	color:#262626;
	border:1px solid #273143;
	border-bottom:none;
	height:40px;
	line-height:40px;
}
section #sectionC #sectionR #contentBox .content{
	width:912px;
	height:604px;


}


section #sectionC #sectionR #contentBox #content01 {	
	text-align:center;
	border:1px solid #e6e6e6;

	margin:46px auto 0;
}
section #sectionC #sectionR #contentBox #content01 img {
	margin-top:34px;
}








section #sectionC #sectionR #contentBox #content02{
	padding:30;
	margin:12px auto 0;
		display:none;
}
section #sectionC #sectionR #contentBox #content02 #content02T{
	height:338px;
	border-bottom:4px solid #eeeeee;
}
section #sectionC #sectionR #contentBox #content02 #content02T h2 {
	height:60px;
	line-height:60px;
	color:#000;
	font-size: 18px;
	font-weight:400;
	float:left;
}
#content02 > div  > p.upIcon {
	float:right;
	height:60px;
	line-height:60px;
}
#content02 > div  > p.upIcon {
	float:right;
}  
section #sectionC #sectionR #contentBox #content02 #content02T h2 img {
	margin-right:14px;
	position:relative;
	margin-top:-3px;
}
}
section #sectionC #sectionR #contentBox #content02 #content02T>table colgroup col:nth-of-type(1){
	width:286px;
}
section #sectionC #sectionR #contentBox #content02 #content02T>table colgroup col:nth-of-type(2){

}
section #sectionC #sectionR #contentBox #content02 #content02T>table thead tr{
	height:50px;
}
section #sectionC #sectionR #contentBox #content02 #content02T>table thead tr td {
	height:50px;
	line-height:50px;
	background-color:#dedede;
	text-align:center;
	position:relative;
	color:#000;
	font-size:14px;
	font-weight:500;
	display:inline-block;

}
section #sectionC #sectionR #contentBox #content02 #content02T>table thead tr td:nth-of-type(1){
	width:286px;
}
section #sectionC #sectionR #contentBox #content02 #content02T>table thead tr td:nth-of-type(2){
	width:626px;
}
.content02TableHeader tr td:after {
	content:"";
	/*display:inline-block;*/
	width:1px;
	height:30px;
	background-color:#bdbdbd;
	position:absolute;
	right:0;
	top:11px;
}
.content02TableHeader tr td:last-child:after{
	content:none;
}

.content02TableBody {
	display:inline-block;
	width:912px;
	height:200px;
	overflow-x:hidden;
	border:1px solid #e6e6e6;
	box-sizing:border-box;

}

/* 스크로 변경 */
.content02TableBody::-webkit-scrollbar {
    width: 18px;
    height: 4px;
    background-color:rgba(255,255,255,0);
}
 
.content02TableBody::-webkit-scrollbar-thumb {
    border-radius: 18px;
    background-color:#b3b3b3; 
    border:6px solid rgba(255,255,255,1);
}



.content02TableBody tr:nth-of-type(odd){
	background-color: #f7f7f7;
}

.content02TableBody tr td {
	font-size:14px;
	font-weight:400;
	color:#4c4c4c;
}
.content02TableBody tr td:nth-of-type(1){
	width:286px;
	height:50px;
	text-indent:30px;
}
.content02TableBody tr td:nth-of-type(1) a{
	font-size:14px;
	font-weight:400;
	color:#003cff;
}
.content02TableBody tr td:nth-of-type(2){
	width:626px;
	height:50px;
	text-indent:30px;
}




section #sectionC #sectionR #contentBox #content02 #content02B h2 {
	height:60px;
	line-height:60px;
		color:#000;
	font-size: 18px;
	font-weight:400;
		float:left;
}
section #sectionC #sectionR #contentBox #content02 #content02B h2 img{
	/*border:1px solid red;*/
	margin-right:14px;
	position:relative;
	margin-top:-3px;
}

section #sectionC #sectionR #contentBox #content02 #content02B  table colgroup col:nth-of-type(1){
 	width:206px;
}
section #sectionC #sectionR #contentBox #content02 #content02B  table colgroup col:nth-of-type(2){
	width:142px;
}
section #sectionC #sectionR #contentBox #content02 #content02B  table colgroup col:nth-of-type(3){
	width:564px;
}


section #sectionC #sectionR #contentBox #content02 #content02B >table{
	width:912px;
}


section #sectionC #sectionR #contentBox #content02 #content02B thead tr td{
	height:50px;
	line-height:50px;
	background-color:#dedede;
	text-align:center;
	position:relative;
	color:#000;
	font-size:14px;
	font-weight:500;
	display:inline-block;
}

section #sectionC #sectionR #contentBox #content02 #content02B thead tr { height:50px; }

section #sectionC #sectionR #contentBox #content02 #content02B tbody {
	height:150px;
}
section #sectionC #sectionR #contentBox #content02 #content02B tbody tr td{
	display:inline-block;
	line-height:50px;
	color:#4c4c4c;
}
section #sectionC #sectionR #contentBox #content02 #content02B thead tr td:nth-of-type(1){ width:206px; }
section #sectionC #sectionR #contentBox #content02 #content02B thead tr td:nth-of-type(2){ width:142px; }
section #sectionC #sectionR #contentBox #content02 #content02B thead tr td:nth-of-type(3){ width:564px; }
section #sectionC #sectionR #contentBox #content02 #content02B tbody tr td:nth-of-type(1){ width:206px; }
section #sectionC #sectionR #contentBox #content02 #content02B tbody tr td:nth-of-type(2){ width:142px; text-align:center; text-indent:0;}
section #sectionC #sectionR #contentBox #content02 #content02B tbody tr td:nth-of-type(3){ width:544px; text-indent:30px; }