<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.AdminMapper">
	
	
	
	<select id="memberList" resultType="member">
		SELECT MEM_NUM AS memNum,
			   MEM_NICKNAME AS memNickName,
			   MEM_TEL AS memTel,
			   MEM_GUBUN AS memGubun,
			   MEM_GRADE AS memGrade,
			   MEM_JOINDATE AS memJoinDate,
			   MEM_UID AS memUid,
			   MEM_FIELD AS memField,
			   MEM_STATE AS memState
			   FROM MEMBER
	</select>

	<update id="memGrade" parameterType="member">
		UPDATE MEMBER SET MEM_GRADE=#{memGrade} WHERE MEM_NUM=#{memNum}
	</update>
	
	<update id="memState" parameterType="member">
		UPDATE MEMBER SET MEM_State=#{memState} WHERE MEM_NUM=#{memNum}
	</update>









</mapper>

