<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="freeboard">

<!-- 0718추가 -->
<!-- 이전글 다음글 표시 -->
	<!-- <select id="PNList" 
		resultType=
		"com.board.notice.model.board.dto.BoardDTO">
		<include refid="paging_header" />
		select * from board where bno = #{bno}
		order by bno desc
		<include refid="paging_footer" />
	</select> -->
	
<!-- 게시물등록 -->
	<insert id="insert" parameterType="freeboard">
		INSERT INTO FREEBOARD (FB_NUM,FB_TITLE,FB_CONTENT,FB_WRITER) VALUES
		( (SELECT NVL(MAX(FB_NUM)+1,1) FROM FREEBOARD),
		#{fbTitle}, #{fbContent}, #{fbWriter} )
	</insert>
	
<!-- 게시물 수정  -->
	<update id="update" parameterType="freeboard">
		UPDATE FREEBOARD
		SET FB_TITLE=#{fbTitle}, FB_CONTENT=#{fbContent}
		WHERE FB_NUM=#{fbNum}
	</update>

<!-- 게시물 상세보기  -->	
	<select id="view" resultType="com.newdeal.ict.Vo.FreeBoardVo">
		SELECT FB_NUM,FB_TITLE,FB_REGDATE,FB_CONTENT,FB_VIEWCNT,FB_WRITER
		FROM FREEBOARD
		WHERE FB_NUM=#{fbNum}
	</select>
	
<!-- 게시물삭제 -->
	<delete id="deleteArticle">
		DELETE FROM FREEBOARD
		WHERE FB_NUM=#{fbNum}
	</delete>
	
<!-- 조회수 증가 처리 -->
	<update id="increaseViewcnt">
		UPDATE FREEBOARD SET FB_VIEWCNT=FB_VIEWCNT+1 
		WHERE FB_NUM=#{fbNum}
	</update>

<!-- 게시물 목록 -->
	<select id="listAll" 
	resultType=
	"com.newdeal.ict.Vo.FreeBoardVo">
	<include refid="paging_header" />
	SELECT FB_NUM,FB_TITLE,FB_REGDATE,FB_VIEWCNT,FB_WRITER,FB_SHOW
	FROM FREEBOARD FB, MEMBER M
	<include refid="search"></include>
	ORDER BY FB_NUM DESC, FB_REGDATE DESC
	<include refid="paging_footer" />
	</select>
	
<!-- 레코드 갯수 계산 -->
	<select id="countArticle" resultType="int">
		SELECT COUNT(*)
		FROM FREEBOARD
	<include refid="search"></include>
	</select>
	
<!-- 검색기능 -->	
	<!-- #변수 - 따옴표를 처리(스트링 붙이고 숫자는 뺸다)
	$변수 - 따옴표 무시 -->
	<sql id="search">	
		<choose>
			<when test="search_option == 'all'">
				WHERE FB_WRITER LIKE '%' || #{keyword} || '%'
				OR FB_CONTENT LIKE '%' || #{keyword} || '%'
				OR FB_TITLE LIKE '%' || #{keyword} || '%'
			</when>
			<when test="search_option == 'fbWriter'">
				WHERE FB_WRITER LIKE '%' || #{keyword} || '%'
			</when>
			<when test="search_option == 'fbContent'">
				WHERE FB_CONTENT LIKE '%' || #{keyword} || '%'
			</when>
			<when test="search_option == 'fbTitle'">
				WHERE FB_TITLE LIKE '%' || #{keyword} || '%'
			</when>
			<otherwise>
				WHERE ${search_option} LIKE '%' || #{keyword}||'%'
			</otherwise>
		</choose> 
	</sql>

<!-- 페이징처리  -->	
	<sql id="paging_header">
		SELECT *
		FROM (
			SELECT ROWNUM AS RN, A.*
			FROM(
	</sql>
	<sql id="paging_footer">		
				) A
			) WHERE RN BETWEEN #{start} AND #{end}
	</sql>
	
	
	
<!-- 첨부파일  -->		
<!-- 새로운 첨부파일 추가 -->
	<insert id="updateAttach">
	INSERT INTO ATTACH (AT_FULLNAME, AT_NUM) VALUES
	( #{atFullname}, #{atNum} )
	</insert>
	
<!-- 첨부파일 레코드 삭제 -->
	<delete id="deleteFile">
		DELETE FROM ATTACH
		WHERE AT_FULLNAME=#{atFullname}
	</delete>

<!-- 첨부파일 목록 -->
	<select id="getAttach" resultType="String">
		SELECT AT_FULLNAME
		FROM ATTACH
		WHERE AT_NUM=#{atNum}
		ORDER BY AT_REGDATE DESC
	</select>

	
<!-- 시퀀스.currval 현재 레코드의 번호 -->
	<insert id="addAttach">
		INSERT INTO ATTACH (AT_FULLNAME, AT_NUM) 
		VALUES ( #{atFullName}, SEQ_FREEBOARD.CURRVAL )
	</insert>
	
</mapper>